body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

h1:hover {
    transform: rotateY(90deg);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.chapter-link {
    flex: 1 1 300px;
    max-width: 100%;
    padding: 40px;
    border-radius: 20px;
    background-color: #333;
    background-image: linear-gradient(to bottom right, rgba(121, 72, 72, 0.966), rgba(153, 37, 37, 0.8));
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, transform 0.5s;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center align text vertically */
}

.chapter-link:hover {
    background-color: #555;
    transform: rotateY(90deg);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .chapter-link {
        width: 80%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .chapter-link {
        padding: 20px;
        font-size: 16px;
    }
}
