/* CSS styling for the assignment title */
.assignment-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* CSS styling for the output container */
#output {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS styling for paragraphs, headings, and links */
p,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

h3 {
    color: #00a;
}

/* CSS styling for the buttons */
#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate the buttons */
}

#buttons button {
    padding: 12px 20px; /* Adjust the padding to increase the size of the button */
    font-size: 16px; /* Adjust the font size */
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Add margin to separate the buttons */
}

#buttons button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

#buttons button:hover {
    background-color: #0056b3;
}

/* CSS styling for result containers */
.result-container {
    background-color: #d4edda;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.result-container h3 {
    color: #155724;
}

.result-container p {
    color: #0c5460;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
